body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
}

button {
  color: #f9faf8;
  background-color: #3882f6;
  font-weight: 600;
  width: 120px;
  height: 40px;
  border-radius: 10px;
}

.left-subtitle > button {
  border: none;
}

.bottom > button {
  border: 2px solid white;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.header,
.blue-box {
  padding: 0 100px;
}

.links > a,
.left-subtitle > p {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.top-links {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 20px;
}

.subtitle {
  display: flex;
}

.left-subtitle {
  flex: 1;
}

.right-subtitle {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  background-color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.infos {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
}

.card > p {
  text-align: center;
}

.card-image {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  border-radius: 15px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote p {
    width: 80%;
    margin: 50px auto 30px auto;
}

.signature {
  text-align: right;
  font-style: normal;
  font-weight: 700;
  font-size: smaller;
}

.bottom {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #e5e7eb;
}

.blue-box {
  background-color: #3882f6;
  color: #e5e7eb;
}
